%table.table
  %tr
    %th Description
    %th Progress

  - @my_goals.each do |goal|
    %tr
      %td= goal.description
      %td= goal.average
%br

= link_to 'Manage my goals', new_users_goal_path, class: 'btn btn-primary'
